h1 {
    font-family: "Parisienne";
    font-size: 3em;
}

h3 {
    font-family: cursive, serif;
}

nav {
    align-content: justify; 
    text-align-last: center;

}

body {

    margin: 0px;
}

.top-container {
    width: 100%;
    position: relative;
    background:
        url('images/wavy-blue-sea-surface-png.png') repeat-x bottom, 
        #e4f9f5;
    background-size: auto 150px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 58px;

}

.lighthouse {
    
    position: absolute;
    bottom: 90px;
    height: 120px;
    right: 0px;
    
}

.flag {

    width: 20px;
}

ul {
    text-align: justify;
    list-style: none;
    padding: 0;
}

li 

{
    margin: 10px 0;
}

main {
    text-align: center
}

footer {

    text-align: center;
}