h1 {
    font-family: "Parisienne";
    font-size: 3em;
}

h3 {
    font-family: cursive, serif;
}

nav {
    align-content: justify; 
    text-align-last: center;

}

.top-container {
    background-color: #e4f9f5;

}

ul {
    text-align: justify;
    list-style: none;
    padding: 0;
}

li 

{
    margin: 10px 0;
}

main {
    text-align: center
}

footer {

    text-align: center;
}