h1 {
    font-family: "Parisienne";
    font-size: 3em;
}

h3 {
    font-family: cursive, serif;
}

nav {
    align-content: justify; 


}

body {

    margin: 0px;
}

.top-container {
    width: 100%;
    position: relative;
    background:#e4f9f5;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 58px;
    overflow: hidden;

}

/* добавляем слой волн поверх контента */
.top-container::after {
    content: ""; /* создаем виртуальный элемент */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;  
    background:
    url('images/wavy-blue-sea-surface-png.png') repeat-x bottom; 
    background-size: auto 200px;
    z-index: 3; /* волны перекрывают маяк */

}

.lighthouse {
    
    position: absolute;
    bottom: 113px;
    height: 120px;
    right: -45px;
    z-index: 1;
    
}

.sailboat {
    
    position: absolute;
    
    bottom: 0;
    height: 330px;
    left: 50%; /* приведение к центру */
    transform: translateX(-50%); /* донастройка центрирования */
    z-index: 2;
    
}

.flag {

    width: 20px;
}

ul {
    text-align: justify;
    list-style: none;
    padding: 0;
}

li 

{
    margin: 10px 0;
}

main {
    text-align: center
}

footer {

    text-align: center;
}


.menu-container {
  
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*width: 40px;
  height: 40px; */

}

.menu-toggle {
    display: none;
}

.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}


.burger span {

  display: block;
  height: 3px;
  width: 30px;
  background-color: #333;
  border-radius: 2px;

}


/* Menu - скрыто по умолчанию */


.menu {

  display: none;
  background: #fff;
  padding: 12px 16px;
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  z-index: 1000;

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu a {
    display: flex;
    align-items: center; /* это выровняет иконку и текст по вертикали */
    gap: 8px; /* расстояние между иконкой и текстом */
    text-decoration: none;
    color: #333;
    font-weight: 500;

    padding: 6px 10px;
    border-radius: 4px;
    transition: background 0.2s ease;
  } 

  .menu a .icon {
    width: 25px;
    height: 25px;
    object-fit: contain; /* это гарантирует что иконка не будет деформироваться*/

  }

  .menu a:hover {
    background: #87add6b2;
  }

  .menu a.active {
    background: #044d9bd8;
    color: white;
  }

/* --- Десктоп: показывать при наведении --- */

@media (min-width: 769px) 
{ .menu-container:hover .menu 
    {
        display: block;
    }

}

/* --- Мобильные: показывать при клике (checkbox) --- */

@media (max-width: 768px) 

{ .menu-toggle:checked + .burger + .menu 
  
        {
            display: block;
        }


 /* Превращаем бургер в крест */
 .menu-toggle:checked + .burger span:nth-child(1) {
    
    transform-origin: center;
    width: 21px;
    transform: rotate(45deg) translate(2.1px, 5.4px);
 }

 .menu-toggle:checked + .burger span:nth-child(3) {
    transform-origin: center;
    width: 22px;
    transform: rotate(-45deg) translate(7.5px, -11.95px);
 }

 .menu-toggle:checked + .burger span:nth-child(2) {

    opacity: 0;
 }

}

.no-script-note {
  font-family: 'Cormorant Garamond', serif;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
  text-align: center;
  max-width: 90%;
  margin: 30px auto;
  opacity: 0.6;
  user-select: none;
  text-shadow:
    0 0 1px rgba(200, 200, 200, 0.4),
    0 0 5px rgba(200, 200, 220, 0.2);

}

.no-script-note span {
  display: inline-block;

  letter-spacing: 0.5em;  /* <-- вот это для межбуквенных расстояний */
  margin-right: 0.7em; /* <-- вот это для межсловных расстояний */

}

.no-script-note span:last-child {
  margin-right: 0; /* последнее слово — без отступа */
}

@media (max-width: 1024px) {
  .no-script-note span {
    letter-spacing: 0.2em;
    margin-right: 0.5em;
  }
}

@media (max-width: 768px) {
  .no-script-note span {

    letter-spacing: 0.15em;

    margin-right: 0.4em;
  }
}

@media (max-width: 480px) {
  .no-script-note span {
    letter-spacing: 0.1em;
    margin-right: 0.2em;
  }
}